POSTGRES_DB=courseapp
POSTGRES_USER=courseapp
PUBLISH_HOST=SERVER_IP_ADDRESS
PUBLIC_PORT=80

# --- GENERAL ---
PUBLIC_BIND_IP=SERVER_IP_ADDRESS

# --- Dockerhand settings ---
DOCKHAND_EXPOSED_PORT=3003
DOCKHAND_AUTH_USER=admin
DOCKHAND_AUTH_PASSWORD=DOCKHAND_PASSWORD_PLACEHOLDER

# --- Grafana settings ---
GRAFANA_EXPOSED_PORT=3001
GRAFANA_AUTH_USER=admin
GRAFANA_AUTH_PASSWORD=GRAFANA_PASSWORD_PLACEHOLDER

# --- Prometheus settings ---
PROMETHEUS_RETENTION=24h
